@font-face {
    font-family: 'Comfortaa', cursive;
    src: url(/fonts/Comfortaa-VariableFont_wght.woff);
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(/fonts/Roboto-Bold.woff);
}
*{  box-sizing:border-box;
    margin:0;
    padding:0;
    border:0;
    list-style:none;
}